/* global.css */

/* Font Face 정의 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 글로벌 스타일 설정 */
:root {
    --main-font: 'GmarketSansMedium', sans-serif;
}

/* 기본 설정 */
/* body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    line-height: 1.6;
    box-sizing: border-box;
} */
